html {
  scroll-behavior: smooth;
}
.groups-btns {
  margin: 100px 0 0;
}
.groups-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.groups-btn.active,
.groups-btn:hover {
  border: 1px solid #17bed2;
}

.groups-btn img {
  border-radius: 10px;
}

.groups-list {
  margin-bottom: 150px;
}

.groups-list > div {
  margin-top: 150px;
}
.group-box {
  display: flex;
  align-items: center;
  gap: 60px;
}

.group-box p {
  margin-bottom: 35px;
  line-height: 1.6;
}
.group-box p,
.group-box span {
  color: #333;
  font-size: 18px;
}
.group-box span {
  font-weight: 600;
}
.group-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.group-logo {
  width: 50px;
  height: 100%;
  opacity: 0.3;
}

.group-icon {
  width: 16px;
}
.group-text a {
  margin-bottom: 10px;
  cursor: pointer;
}
.group-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.group-detail {
  display: flex;
  gap: 25px;
}

.group-text h3 {
  font-size: 25px;
  margin-bottom: 30px;
}
.group-text a img {
  margin-right: 10px;
}

.sub-img {
  width: 200px;
  margin: 20px 0;
}

h1 {
  font-size: 55px;
  margin: 20px 0;
}

.small-box:last-child {
  margin-top: 50px !important;
}

.small-box .group-img {
  text-align: right;
}
.small-box h1 {
  font-size: 25px;
}
.pb-50 {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .group-box {
    display: initial;
  }
}
