html {
  scroll-behavior: smooth;
}
.business-list {
  margin-top: 50px;
}

.business-box {
  margin-bottom: 150px;
}

.business-box:last-child {
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  position: relative;
}
.swiper-slide > div {
  position: absolute;
  left: 20px;
  text-align: left;
  bottom: 20px;
}
.swiper-slide > div h1,
.swiper-slide > div p {
  color: #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/business/business_import.jpg");
  background-size: cover;
}
.swiper-slide:nth-child(2) {
  background-image: url("../img/business/business_export.jpg");
  background-size: cover;
}
.swiper-slide:nth-child(3) {
  background-image: url("../img/business/business_electric.jpg");
  background-size: cover;
}
.swiper-slide:nth-child(4) {
  background-image: url("../img/business/business_platform.jpg");
  background-size: cover;
}
