.ceo-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.ceo-card:hover {
  transform: scale(1.05);
}
.ceo-rights {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ceo-rights span {
  margin-left: 5px;
  font-size: 16px;
}
