.work {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}
.box-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 650px;
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  background-position: center;
  position: relative;
}

.work:nth-child(1) .box-img {
  background-image: url(../img/esg/esg_box_1.jpg);
}
.work:nth-child(2) .box-img {
  background-image: url(../img/esg/esg_box_2.jpg);
}
.work:nth-child(3) .box-img {
  background-image: url(../img/esg/esg_box_3.jpg);
}
.list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
.work p {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
  color: #333;
  font-weight: bold;
}
.box-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  color: #fff;
  padding: 0;
  width: 100%;
  font-size: 30px;
}

.list li {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .box-img {
    height: 350px;
    width: 100%;
  }

  .work p {
    font-size: 20px;
  }
  .box-img p {
    font-size: 25px;
  }
  .list li {
    font-size: 16px;
  }
}
