html {
  scroll-behavior: smooth;
}
.groups-btns {
  margin: 100px 0 0;
}
.groups-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.groups-btn.active,
.groups-btn:hover {
  border: 1px solid #17bed2;
}

.groups-btn img {
  border-radius: 10px;
}

.groups-list {
  margin-bottom: 150px;
}

.groups-list > div {
  margin-top: 150px;
}
.group-box {
  display: flex;
  align-items: center;
  gap: 60px;
}
.group-box p {
  color: #333;
  line-height: 1.6;
}
.group-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.group-logo {
  width: 200px;
}

.group-icon {
  width: 16px;
}
.group-text a {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
}

.group-text a img {
  margin-right: 10px;
}

.sub-img {
  width: 200px;
  margin: 20px 0;
}

h1 {
  font-size: 55px;
  margin: 20px 0;
}

.group-box p {
  margin-bottom: 35px;
  color: #333;
  font-size: 18px;
}

@media (max-width: 768px) {
  .group-box {
    display: initial;
  }
  h1 {
    font-size: 35px;
  }
  .group-box p {
    font-size: 15px;
  }
  .group-logo {
    width: 150px;
    margin-top: 20px;
  }
  .groups-list {
    margin-top: 50px;
  }
}
