html {
  scroll-behavior: smooth;
}
.groups-btns {
  margin: 100px 0 0;
}
.groups-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.groups-btn.active,
.groups-btn:hover {
  border: 1px solid #17bed2;
}

.groups-btn img {
  border-radius: 10px;
}

.groups-list > div {
  margin-top: 150px;
}
