.history-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.sub-img {
  visibility: hidden;
  width: 300px;
  border-radius: 4px;
  margin-top: 20px;
  transition: all 0.2s linear;
  display: none;
}
.showing {
  visibility: visible;
  display: block;
}

.photo-btn {
  cursor: pointer;
  display: flex;
}
