/* menu css */
.header .nav {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.header .nav > ul.depth1 {
  position: relative; /* 1단계 메뉴 ul(목록 전체) 위치 기준 */
}
.header .nav > ul.depth1 > li {
  float: left;
  width: 150px;
  line-height: 30px; /* 2단계 메뉴는 이 다음에 자동 위치함 */
  text-align: center;
}

/* 2단계 메뉴 */
.header .nav div.depth2 {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}
.header .nav div.depth2.active {
  visibility: visible;
  opacity: 1;
  display: block;
}
.header .nav .depth2 ul {
  transition: 0.3s ease-out;
  padding: 0;
  margin: 0;
}

.header .nav .depth2 .nav-item-child {
  line-height: 1;
  padding: 0px;
}
.header .nav .depth2 .nav-item-child:hover {
  color: var(--light-blue);
}

.header .depth2 .nav-item-child {
  padding-right: 20px;
}

.header .depth2 .nav-item-child:last-child {
  padding-right: 0;
  margin-bottom: 30px;
  font-size: 15px;
}
.side-menu img {
  width: 17px;
  /* filter: brightness(0) invert(1); */
  opacity: 0.7;
}
.page-on-scroll .side-menu img {
  filter: initial;
  opacity: 0.7;
}
.side-menu:hover img {
  opacity: 0.7;
  filter: initial;
}
.navbar-fixed-top:hover .side-menu img {
  filter: initial;
  opacity: 0.7;
}

.header .side-menu.active img {
  filter: initial;
}

.header .nav > ul.side-menu > li {
  width: 70px;
  height: 100%;
}
.header .nav > ul.side-menu > li:first-child {
  margin-right: 20px;
}
.header .nav > ul.side-menu select {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 2px;
  margin: 30px 0px;
  background-color: transparent;
  color: #515769;
}
/* .header .depth1.active select {
  color: initial;
  border: 1px solid #ddd;
} */

/* .navbar-fixed-top:hover select {
  color: initial !important;
  border: 1px solid #ddd !important;
}
.header .side-menu.active select {
  color: initial;
  border: 1px solid #ddd;
}
.page-on-scroll select {
  color: initial !important;
  border: 1px solid #ddd !important;
} */
@media (max-width: 1200px) {
  .header .nav > ul.depth1 > li {
    width: 100%;
  }
  .header .nav div.depth2 {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .header .depth2 .nav-item-child:last-child {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .header .nav-item-child {
    color: #515769;
  }
  .mo-none {
    display: none !important;
  }
  .header .navbar-nav {
    margin: 0;
  }
  .header .nav > ul.side-menu select {
    margin: 0;
  }
}
